<div class="w-full max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg border border-gray-300">
  <h2 class="text-3xl font-extrabold text-center text-gray-800 mb-6">Sign In</h2>
  <form
    class="space-y-6"
    [formGroup]="loginForm"
    (ngSubmit)="submit(login)"
  >
    <!-- Email Field -->
    <div>
        @let
        emailValid=loginForm.get("email")?.errors&&loginForm.get("email")?.touched;
        <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="w-full px-4 py-3 border border-gray-200 border-2 rounded-lg focus:border-blue-500 bg-[#F9F9F9] focus-visible:outline-none"
        [class.border-red-400]="emailValid"
        [class.focus:border-red-400]="emailValid"
        />
    </div>

    <!-- Password Field -->
    <div>
        @let
        passwordValid=loginForm.get("password")?.errors&&loginForm.get("password")?.touched;
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
          class="w-full px-4 py-3 border border-gray-200 border-2 rounded-lg focus:border-blue-500 bg-[#F9F9F9] focus-visible:outline-none"
          [class.border-red-400]="passwordValid"
          [class.focus:border-red-400]="passwordValid"
        />
    </div>

    <!-- Recover Password Link -->
    <div class="text-right">
      <a
        routerLink="/auth/forget-password"
        class="text-blue-600 font-semibold hover:underline"
        >Recover Password?</a
      >
    </div>

    <!-- Submit Button -->
    <div>
      <app-auth-button [loading]="loading" text="Sign in"></app-auth-button>
    </div>
  </form>
</div>

