<div class=" w-full max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg border border-gray-300">
    @if(sendCodeStep){
    <h2 class="text-2xl font-bold mb-6">Forgot your password?</h2>
    <form
      class="flex flex-col"
      [formGroup]="forgetForm"
      (ngSubmit)="submit(forgetForm, sendCode)"
    >
      @let
      emailValid=forgetForm.get("email")?.errors&&forgetForm.get("email")?.touched;
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="w-full px-4 py-3 border border-gray-200 border-2 rounded-lg focus:border-blue-500 bg-[#F9F9F9] focus-visible:outline-none"
        [class.border-red-400]="emailValid"
        [class.focus:border-red-400]="emailValid"
      />
  
      <a
        routerLink="/auth/login"
        routerLinkActive="router-link-active"
        class="text-primary  ml-auto font-normal mt-[1rem]"
        >Recover Password ?</a
      >
  
      <button
        type="submit"
        class="w-full bg-primary text-white py-3 rounded-[1.25rem] hover:bg-[#1A1040] transition duration-300 shadow-[0_30px_18px_#2f1c1c1a] mt-[2.5rem]"
      >
        @if(loading){
        <i class="fa fa-spin fa-spinner"></i>
        } @else { Sign in }
      </button>
    </form>
    } @if(verifyCodeStep){
    <h2 class="text-2xl font-bold mb-6">Verify code</h2>
  
    <form
      class="flex flex-col"
      [formGroup]="verifyForm"
      (ngSubmit)="submit(verifyForm, verifyCode)"
    >
      @let
      resetCodeValid=verifyForm.get("resetCode")?.errors&&verifyForm.get("resetCode")?.touched;
      <input
        formControlName="resetCode"
        type="tel"
        placeholder="Enter Code"
        class="w-full px-4 py-3 border border-gray-200 border-2 rounded-lg focus:border-blue-500 bg-[#F9F9F9] focus-visible:outline-none"
        [class.border-red-400]="resetCodeValid"
        [class.focus:border-red-400]="resetCodeValid"
      />
  
      <p role="button" class="ml-auto mt-[1rem]">
        Didn’t receive a code?<a
          (click)="sendCode(false)"
          class="text-primary font-semiboldfont-normal"
        >
          Resend</a
        >
      </p>
  
      <button
        type="submit"
        class="w-full bg-primary text-white py-3 rounded-[1.25rem] hover:bg-[#1A1040] transition duration-300 shadow-[0_30px_18px_#2f1c1c1a] mt-[2.5rem]"
      >
        @if(loading){
        <i class="fa fa-spin fa-spinner"></i>
        } @else { verify }
      </button>
    </form>
    } @if(setPasswordStep){
    <h2 class="text-2xl font-bold mb-6">Set a Password</h2>
  
    <form
      class="flex flex-col"
      [formGroup]="setPasswordForm"
      (ngSubmit)="submit(setPasswordForm, setPassword)"
    >
      @let
      newPasswordValid=setPasswordForm.get("newPassword")?.errors&&setPasswordForm.get("newPassword")?.touched||setPasswordForm.hasError("misMatch");
      <input
        formControlName="newPassword"
        type="password"
        placeholder="Re-enter Password"
        class="w-full px-4 py-3 border border-gray-200 border-2 rounded-lg focus:border-blue-500 bg-[#F9F9F9] focus-visible:outline-none"
        [class.border-red-400]="newPasswordValid"
        [class.focus:border-red-400]="newPasswordValid"
      />
      <app-auth-button [loading]="loading" [text]="'Sign in'"></app-auth-button>
      @if(setPasswordStep){
        <app-auth-button [loading]="loading" [text]="'Verify'"></app-auth-button>
      }
    </form>
    }
  
  </div>
  