<div>
  <div class="flex items-center my-[2rem]">
    <div class="flex-grow border-t border-gray-200"></div>
    <span class="mx-4 text-gray-500">Or Continue with</span>
    <div class="flex-grow border-t border-gray-200"></div>
  </div>

  <div class="flex gap-[2rem]">
    <button
      class="shadow-[0_30px_18px_#4461f21c] border border-1 border-gray-200 p-[1.25rem] rounded-[.9375rem]"
    >
      <img src="/icons/Logo_Google.svg" alt="google logo" />
    </button>
    <button
      class="shadow-[0_30px_18px_#4461f21c] border border-1 border-gray-200 p-[1.25rem] rounded-[.9375rem]"
    >
      <img src="/icons/Logo_twitter.svg" alt="google logo" />
    </button>
    <button
      class="shadow-[0_30px_18px_#4461f21c] border border-1 border-gray-200 p-[1.25rem] rounded-[.9375rem]"
    >
      <img src="/icons/Logo_facebook.svg" alt="google logo" />
    </button>
    <button
      class="shadow-[0_30px_18px_#4461f21c] border border-1 border-gray-200 p-[1.25rem] rounded-[.9375rem]"
    >
      <img src="/icons/Logo_apple.svg" alt="google logo" />
    </button>
  </div>
</div>
