<nav>

<form class="w-full hidden sm:flex mx-auto">   
  <div class="relative w-10/12">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-primary dark:text-gray-400 text" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input type="search" id="default-search" class="block w-10 w-full py-[1rem] shadow-[0_15px_40px_#2f1c1c1a] ps-10 text-sm text-gray-900 rounded-[1.25rem] bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required />
  </div>
  <button type="submi" class="text-white bg-primary rounded-[1.25rem] lg:py-[1rem] xl:px-[2rem] w-2/12 mx-[1.5rem]">Start Quiz</button>

</form>

</nav>